.storage-bank {
    padding-bottom: $desktop-btm-padding;

    @include media(md) {
        padding-bottom: $md-sm-btm-padding;
    }

    @include media(sm) {
        padding-bottom: $md-sm-btm-padding;
    }
}

.storage {

    // .storage__container

    &__container {
        background-color: $color-medium-pink;
        border-radius: 50px;
    }

    // .storage__image-wrapper

    &__image-wrapper {}

    // .storage__image

    &__image {
        display: block;

        @include media(md) {
            margin-left: auto;
            margin-right: auto;
        }

        @include media(sm) {
            margin-left: auto;
            margin-right: auto;
        }
    }

    // .storage__info

    &__info {
        max-width: 500px;
        padding-top: 70px;
        padding-bottom: 110px;

        @include media(md) {
            text-align: center;
            margin-left: auto;
            margin-right: auto;
            padding-top: 0;
            padding-bottom: 15px;
        }

        @include media(sm) {
            text-align: center;
            padding-bottom: 15px;
        }
    }

    // .storage__title

    &__title {
        @include font-family(700, 40px, $color-darkblue, 130%, normal, $title-font-name);

        @include media(md) {
            margin-top: 0;
        }

        @include media(sm) {
            margin-top: 0;
        }

    }

    // .storage__text

    &__text {
        @include font-family(500, 18px, $color-darkgray, 160%, normal, $main-font);
    }
}
